* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}


/* header */
nav {
    position: fixed;
    z-index: 1;
    background-color: #3161e0;
    width: 99vw;
    height: 8vh;
    padding: 1.5vh 0 0 13vw;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin-left: 7vw;
}

nav li {
    display: inline-block;
}

nav a {
    display: inline-block;
    transform: translateY(-2vh);
    text-decoration: none;
    color: white;
    padding: 0.2vh 1.2vw;
}

nav a:hover {
    color: cyan;
}

nav button {
    display: inline-block;
    transform: translate(9vw, -2vh);
    background-color: white;
    padding: 1vh 1.5vw;
    border: none;
    border-radius: 20px;
}

nav button:hover {
    background-color: rgb(0, 60, 255);
    color: white;
}

header section {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 99vw;
    height: 64vh;
    padding: 13vh 25vw 0 25vw;
}

header section h1 {
    font-size: 7vh;
    font-weight: bold;
    margin-bottom: 5vh;
}

header section button:nth-last-child(2)::before {
    content: "\1F817";
    font-size: 2.2vh;
}

header section button:nth-last-child(2) {
    display: inline-block;
    background-color: white;
    font-weight: bold;
    padding: 1.7vh 3vw;
    border: none;
    border-radius: 30px;
    margin-top: 4vh;
}

header section button:last-child {
    display: inline-block;
    background-color: #23272a;
    font-weight: bold;
    color: white;
    padding: 2.2vh 4vw;
    border: none;
    border-radius: 30px;
    margin-left: 1vw;
}

header section button:nth-last-child(2):hover {
    background-color: rgb(0, 60, 255);
    color: white;
}

header section button:last-child:hover {
    background-color: cyan;
    color: #23272a;
}


/* main */
main section:first-child {
    width: 99vw;
    height: 120vh;
}

main section:first-child img {
    transform: translate(15vw, 15vh);
    object-fit: cover;
    max-width: 40vw;
    max-height: 50vh;
}

main section:first-child div {
    transform: translate(63vw, -32vh);
    width: 22vw;
}

main section:first-child div h2 {
    font-size: 6vh;
    font-weight: bold;
}

main section:first-child div p {
    line-height: 3vh;
    padding-top: 3vh;
}

[src$="wave.svg"] {
    filter: opacity(3%); /* C'ho messo più di un'ora e mezza per trovarlo :(    */
}

.wave1 {
    position: absolute;
    z-index: -1;
    top: 171vh;
}

.wave2 {
    position: absolute;
    z-index: -1;
    transform: rotate(0.5turn);
    top: 304vh;
}

main section:nth-child(2) {
    background-color: #f6f6f6;
    width: 99vw;
    height: 120vh;
}

main section:nth-child(2) img {
    transform: translate(47vw, -3vh);
    object-fit: cover;
    max-width: 40vw;
    max-height: 50vh;
}

main section:nth-child(2) div {
    transform: translate(16vw, 37vh);
    width: 22vw;
}

main section:nth-child(2) div h2 {
    font-size: 6vh;
    font-weight: bold;
}

main section:nth-child(2) div p {
    line-height: 3vh;
    padding-top: 3vh;
}

main section:nth-child(3) {
    width: 99vw;
    height: 120vh;
}

main section:nth-child(3) img {
    transform: translate(15vw, 40vh);
    object-fit: cover;
    max-width: 40vw;
    max-height: 50vh;
}

main section:nth-child(3) div {
    transform: translate(66vw, -7vh);
    width: 22vw;
}

main section:nth-child(3) div h2 {
    font-size: 6vh;
    font-weight: bold;
}

main section:nth-child(3) div p {
    line-height: 3vh;
    padding-top: 3vh;
}

.wave3 {
    position: absolute;
    z-index: -1;
    top: 412vh;
}

main section:nth-child(4) {
    background-color: #f6f6f6;
    width: 99vw;
    height: 180vh;
}

main section:nth-child(4) img {
    transform: translate(18vw, 28vh);
    object-fit: cover;
    max-width: 72vw;
    max-height: 96vh;
}

main section:nth-child(4) div {
    transform: translate(21vw, 26vh);
    width: 74vw;
    padding-right: 10vw;
}

main section:nth-child(4) div h2 {
    font-size: 6vh;
    font-weight: bold;
}

main section:nth-child(4) div p {
    line-height: 3vh;
    padding-top: 3vh;
}

[src$="stars.svg"] {
    position: absolute;
    top: 528vh;
    right: 43vw;
}

main section:nth-child(4) b {
    display: block;
    transform: translate(37vw, 38vh);
    font-size: 3.9vh;
}

main button:last-child::before {
    content: "\1F817";
    font-size: 2.2vh;
}

main section:nth-child(4) button {
    transform: translate(45vw, 44vh);
    background-color: #8ea1e1;
    color: white;
    font-weight: bold;
    padding: 1.7vh 3vw;
    border: none;
    border-radius: 30px;
}

main button:last-child:hover {
    background-color: cyan;
    color: #23272a;
}


/* footer */
footer {
    background-color: #23272a;
    color: white;
    padding: 10vh 0 0 15vw;
}

footer section:first-child h2 {
    display: inline-block;
    color: #7289da;
    font-size: 4vh;
    vertical-align: top;
    width: 15vw;
}

footer section:first-child .Primaul {
    margin-left: 3.5vw;
}

footer section:first-child ul {
    display: inline-block;
    list-style: none;
    line-height: 5vh;
    vertical-align: top;
    color: #7289da;
    margin-left: 1.5vw;
}

footer section:first-child a {
    color: white;
    line-height: 5vh;
    text-decoration: none;
    vertical-align: top;
}

footer section:first-child a:hover {
    color: cyan;
}

footer section:first-child img {
    display: block;
    transform: scale(0.3) translate(-6vw, -155vh);
}

footer section:first-child select {
    transform: translate(2vw, -51.5vh);
    background-color: #23272a;
    color: white;
    border: none;
}

.fa-twitter:before {
    content: "\f099";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2.8vh;
    position: absolute;
    top: 634vh;
    left: 15vw;
}

.fa-instagram:before {
    content: "\f16d";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2.8vh;
    position: absolute;
    top: 634vh;
    left: 18vw;
}

.fa-facebook-square:before {
    content: "\f082";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2.8vh;
    position: absolute;
    top: 634vh;
    left: 21vw;
}

.fa-youtube-play:before {
    content: "\f16a";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2.8vh;
    position: absolute;
    top: 634vh;
    left: 24vw;
}

footer section:nth-child(2) {
    margin-right: 14vw;
    border-top: 0.3vh solid #4a5882;
    padding: 5vh 0 7vh 0;
}

footer section:nth-child(2) button {
    transform: translate(51vw, -2vh);
    background-color: #8ea1e1;
    color: white;
    font-weight: bold;
    padding: 1.2vh 2vw;
    border: none;
    border-radius: 30px;
}

footer section:nth-child(2) button:hover {
    background-color: cyan;
    color: #23272a;
}

