* {
    box-sizing: border-box;
    margin: 0;
}

/* header */
nav {
    position: fixed;
    background-color: #3161e0;
    width: 100vw;
    height: 8vh;
    padding: 1.5vh 0 0 13vw;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin-left: 7vw;
}

nav li {
    display: inline-block;
}

nav a {
    display: inline-block;
    transform: translateY(-2vh);
    text-decoration: none;
    color: white;
    padding: 0.2vh 1.2vw;
}

nav a:hover {
    color: cyan;
}

nav button {
    display: inline-block;
    transform: translate(9vw, -2vh);
    background-color: white;
    padding: 1vh 1.5vw;
    border: none;
    border-radius: 20px;
}

nav button:hover {
    background-color: rgb(0, 60, 255);
    color: white;
}

header section {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 100vw;
    height: 64vh;
    padding: 13vh 25vw 0 25vw;
}

header section h1 {
    font-size: 7vh;
    font-weight: bold;
    margin-bottom: 5vh;
}

header section button:nth-last-child(2)::before {
    content: "\1F817";
    font-size: 2.2vh;
}

header section button:nth-last-child(2) {
    display: inline-block;
    background-color: white;
    font-weight: bold;
    padding: 2vh 4vw;
    border: none;
    border-radius: 30px;
    margin-top: 4vh;
}

header section button:last-child {
    display: inline-block;
    background-color: #23272a;
    font-weight: bold;
    color: white;
    padding: 2.5vh 5vw;
    border: none;
    border-radius: 30px;
    margin-left: 1vw;
}

header section button:nth-last-child(2):hover {
    background-color: rgb(0, 60, 255);
    color: white;
}

header section button:last-child:hover {
    background-color: cyan;
    color: #23272a;
}